<a href="https://colab.research.google.com/github/tak595/Data-Minning-Midterm/blob/main/Midterm_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np

midtermData = pd.read_csv('/content/irisdata.csv')

#midtermData = midtermData.astype({'sepal_length': 'int64','sepal_width': 'int32','petal_length': 'int64','petal_width': 'int32'})
dataChange = pd.DataFrame(midtermData, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species', 'ID'])
dataChange['sepal_length'].str.replace('$', '')
#midtermData = midtermData.astype({'sepal_length': 'int32'})
midtermData.sample(10)

    sepal_length sepal_width  petal_length  petal_width     species        ID
148       $6.20         340%      5,400.00         5.29   Virginica  0.582025
34        $4.90         310%      1,500.00         0.01      setosa  0.126448
11        $4.80         340%      1,600.00         0.04      setosa  0.228228
9         $4.90         310%      1,500.00         0.01      setosa  0.090306
39        $5.10         340%      1,500.00         0.04      setosa  0.780027
84        $5.40         300%      4,500.00         2.25  versicolor  0.887128
138       $6.00         300%      4,800.00         3.24   virginica  0.767344
124       $6.70         330%      5,700.00         4.41   virginica  0.119808
36        $5.50         350%      1,300.00         0.04      setosa  0.224811
1         $4.90         300%      1,400.00         0.04      setosa  0.952522